# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.nav
*.snm
*.vrb
*.blg
*.bbl
*.bcf
*.run.xml
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.lol
*.thm
*.dvi
*.ps
*.idx
*.ilg
*.ind


# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.idea/
.vscode/*
!.vscode/settings.json
